[submodule "external/slang"]
	path = external/slang
	url = https://github.com/shader-slang/slang.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/shader-slang/glslang.git
[submodule "external/slang-binaries"]
	path = external/slang-binaries
	url = https://github.com/shader-slang/slang-binaries.git
[submodule "external/spirv-headers"]
	path = external/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "external/spirv-tools"]
	path = external/spirv-tools
	url = https://github.com/shader-slang/SPIRV-Tools.git
    
